<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My page</title>
  <link rel="stylesheet" href="../css/myaccount.css">
</head>
<body>
  
  <div class="container">
    <header>
      <nav>
        <a href="#" class="no-desktop">
          <img src="../images/iconfinder_th-menu-outline_216423.png" alt="menu" class="menu" id="menu">
        </a>

          <ul class="show-desktop no-mobile" id="nav">
          <li id='exit' class="exit-btn no-desktop"><img src="../images/cancel.svg" alt="exit menu"></li>
          <li><a href="/myaccount/mypage">Home</a></li>
          <li><a href="/myaccount/sendmoney">Send money</a></li>
          <li><a href="/myaccount/receivemoney">Receive money</a></li>
          <li><a href="/myaccount/history">History</a></li>
          <li><a href="/logout">Exit</a></li>
          </ul>
      </nav>
      <img src="../images/logo.png" alt="Logo sito" class="logo logo-top">
      <a href="/myaccount/profile" class="settings-wheel">
          <img src="../images/settings-wheel-icon-13.jpg" alt="menu" class="menu" id="menu">
        </a>
      
    </header>

  </div>


  <div class="main-container">
    <div class="container">
      <h2>Welcome to your account, <%= accname %> </h2>
      <div class="blocks">
        <div class="first-column">
          <div class='balance'>
              <h3>My balance: <%= accsaldo %> €</h3>
              <a href="/myaccount/topup">Top up</a> 
            </div>

            <div  class='recent'>
                <h3>Recent activities </h3>
                <div class="table" style="overflow: auto; height: 70%;">
                <table style="width: 100%; font-size: 0.9em;">
                    <thead><tr><th></th>
                         <th></th>
                         <th></th>
                         <th></th></tr>
                    </thead>
                  <tbody >
                    <p style="visibility: <%= testo %>;"><%= descrizionenull %></p>

                    
                    <% for(var i=0; i < resultstra.length && i<2; i++) {%>
                      <tr><td><%= resultstra[i].data.toString().substr(4, 12) %></td>
                      <td><%= resultstra[i].ref_email2%></td>
                      <td><%= resultstra[i].descrizione %></td>
                      <td><%= resultstra[i].ammontare.toFixed(2) %> €</td></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      <tr></tr>
                      
                      <% } %>
                      
                  </tbody>
                </table>
              </div>
              <div>
              <a id="download" href="/myaccount/download">Download</a>
              <a id="history" href="/myaccount/history">History</a>
            </div>
            </div>
          </div>
          <div class="second-column">  
            <div class='payaments'>
                <h3>My payament methods</h3>
                <p>Preferred payament method: <%= accmethod1 %></p>
                <a href="/myaccount/mypayaments">Payament methods</a> 
              </div>
            <div class='function'>
              <div class="row">
                <a href=/myaccount/sendmoney>Send money</a>
                <a href="/myaccount/receivemoney">Receive money</a>
              </div>
              <div class="row-2">
                <a href="/myaccount/payshop">Pay an online shop</a>
              </div>
              </div> 
            </div>
      <div class="vuoto"></div>

      </div>  
    </div>
  </div>
 

  <footer>
    <div class="footer-container">
      <div class="container">
        <img src="../images/logo.png" alt="Logo sito" class="logo">
        <dl>
         <dt>Autori:</dt>
         <dd>Kevin Cusano</dd>
         <dd>Vincenzo Di Marco</dd>
        </dl>

      </div>

    </div>
  </footer>

  <script>

    var menu = document.getElementById('menu');
    var nav = document.getElementById('nav');
    var exit = document.getElementById('exit');

    menu.addEventListener('click', function(e){
      nav.classList.toggle('no-mobile');
      e.preventDefault();
    });

    exit.addEventListener('click', function(e){
      nav.classList.add('no-mobile');
      e.preventDefault();
    });

  </script>
</body>
</html>
